.grid {
  display: grid;
  grid-template: fit-content;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(4, calc(25% - 0.75em)); */
  grid-template-areas:
    'h1 h1 h1 h1'
    'cegunk1 cegunk1 cegunk2 cegunk3'
    'cegunk1 cegunk1 cegunk6 cegunk6'
    'cegunk4 cegunk5 cegunk6 cegunk6';
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  background-color: #1d75b7;
  align-items: stretch;
  padding: 1em;
}
.header {
  grid-area: h1;
  color: #fff;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  margin: 2rem;
}
.cegunk1 {
  grid-area: cegunk1;
}
.cegunk2 {
  grid-area: cegunk2;
}
.cegunk3 {
  grid-area: cegunk3;
}
.cegunk4 {
  grid-area: cegunk4;
}
.cegunk5 {
  grid-area: cegunk5;
}
.cegunk6 {
  grid-area: cegunk6;
}
