.contact {
  display: flex;
  flex-direction: column;
}
.contactBorder {
  border-bottom: 1px solid rgb(206, 202, 202);
  margin-bottom: 2rem;
}
.headlines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  width: 100%;
}
.column div {
  margin-bottom: 15px;
}
.column div p {
  font-size: 16px;
  color: #00305f;
}
.column span {
  font-size: 16px;
  color: #676767;
  line-height: normal;
}
.header {
  text-align: center;
}
.map {
  width: 100vh;
  height: 350px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contactBorder {
    border-bottom: 1px solid rgb(206, 202, 202);
    margin-bottom: 2rem;
  }
  .headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3rem;
    width: auto;
  }
  .column div {
    margin-bottom: 15px;
  }
  .column div p {
    font-size: 16px;
    color: #00305f;
  }
  .column span {
    font-size: 16px;
    color: #676767;
    line-height: normal;
  }
  .header {
    text-align: center;
  }
  .map {
    width: 320px;
    height: 400px;
    margin-bottom: 1rem;
  }
}
