@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --white: #fff;
  --light-gray: #f2f2f2;
  --dark-gray: #676767;
  --light-blue: #1d75b7;
  --dark-blue: #00305f;
  --red: #df0020;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global */

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: var(--light-gray);
  max-width: 980px;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  background: var(--dark-blue);
  color: var(--white);
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

.btn:hover {
  opacity: 0.9;
}
