.header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  height: 40px;
  padding: 30px 20px;
  z-index: 10;
}

.header ul {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 13px;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.line {
  border-bottom: 1px solid #676767;
  height: 1px;
  width: 100%;
}
