.landing {
  position: relative;
}

.carousel {
}

.content {
  position: absolute;
  top: 300px;
  left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  color: #fff;
  margin-bottom: 20px;
}
.landing h1 {
}
.ismerdmeg {
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 40px;
}
.line {
  border-bottom: 2px white solid;
  width: 40px;
  height: 2px;
  margin-bottom: 20px;
}
.par {
  font-size: 18px;
}
