.pinfo {
  display: flex;
  flex-direction: column;
}
.headlines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
}
.column {
  margin-bottom: 3rem;
}

.column div {
  margin-bottom: 15px;
}
.column p {
  font-size: 16px;
  color: #00305f;
}
.column span {
  font-size: 16px;
  color: #676767;
}

@media only screen and (max-width: 768px) {
  .pinfo {
    display: flex;
    flex-direction: column;
  }
  .headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
  }
  .column {
    margin-bottom: 3rem;
  }

  .column div {
    margin-bottom: 15px;
  }
  .column p {
    font-size: 16px;
    color: #00305f;
  }
  .column span {
    font-size: 16px;
    color: #676767;
  }
}
